$mobile-font-size: 14;
$base-font-size: 18;
$base-typography-spacing: 1.5em;
$base-line-height: 1.6;

@mixin fontsize($fontsize: $base-font-size){
    font-size: #{$fontsize}px;
    font-size: #{$fontsize / 10}rem;
}

@mixin body-copy() {
    @include fontsize($mobile-font-size);
    line-height:$base-line-height; font-family:$font--regular;
    @include breakpoint($bp--typography){
        @include fontsize();
    }
}

@mixin heading($fontsize: $base-font-size){
    @include fontsize($fontsize);
    font-weight: 500; text-transform: uppercase; font-family: $font--heading;
}

@mixin text-shadow(){
    text-shadow: 0 0 10px rgba(0,0,0,0.25);
}

@mixin h1() {
    @include heading(62);
    line-height:0.75; margin:0;
    @include breakpoint($bp--typography){
        @include fontsize(160);
    }
}

@mixin h2() {
    @include heading(40);
    line-height:0.8; margin:0;
    @include breakpoint($bp--typography){
        @include fontsize(80);
    }
    @include breakpoint($bp--large){
        @include fontsize(96);
    }
}

@mixin h3() {
    @include fontsize(24);
    line-height:1; margin:0 0 $base-typography-spacing 0; font-weight: normal;
    @include breakpoint($bp--typography){
        @include fontsize(34);
    }
}

@mixin h4() {
    @include heading(20);
    line-height:1; margin:0;
    @include breakpoint($bp--typography){
        @include fontsize(24);
    }
    @include breakpoint($bp--large){
        @include fontsize(30);
    }
}

@mixin large-text(){
    @include fontsize(17);
    @include breakpoint($bp--typography){
        @include fontsize(24);
    }
}

@mixin larger-text(){
    @include fontsize(24);
    @include breakpoint($bp--large){
        @include fontsize(34);
    }
}

@mixin largest-text(){
    @include fontsize(28);
    line-height: 1.3;
    @include breakpoint($bp--typography){
        @include fontsize(50);
    }
}


@mixin fonticon ($content, $size:20px, $color: inherit, $top: "", $left: "", $right: "", $bottom: "", $center: false, $middle: false, $elem: before) {
    position:relative;
    &:#{$elem} {
        @include transitions();
        position: absolute;
        content: $content;
        color: $color;
        font-size:$size;
        font-family:'icomoon';
        font-style:normal;
        font-weight:normal;
        speak:none;
        display:block;
        text-decoration:none;
        width:$size;
        height:$size;
        text-align:center;
        text-rendering:optimizeLegibility;
        line-height: $size;
        float: left;
        z-index:2;
        text-indent:0;
        @if $top != '' { top: $top; }
        @if $left != '' { left: $left; }
        @if $right != '' { right: $right; }
        @if $bottom != '' { bottom: $bottom; }
        @if $center{ transform:translateX(-50%); }
        @if $middle{ transform:translateY(-50%); }
        @if $center and $middle{ transform:translate(-50%,-50%); }
    }
}

@mixin fonticonSize($size){
    font-size:$size; width:$size; height:$size; line-height:$size;
}
