
.parallax{
    transform: translateY(var(--parallax-offset)) !important;
}

.carousel{
    &:after{
        @include pseudo();
        background: rgba($color--black, 0.3);
    }
}

.site-header{
    height: 450px;

    @include breakpoint($bp--tablet-portrait){
        height: 650px;
    }
    @include breakpoint($bp--large){
        height: 90vh;
    }

    .copy{
        padding-top: 5em;
    }
    .logo{
        width: 160px;
        @include breakpoint($bp--tablet-portrait){
            width: 400px;
        }
        @include breakpoint($bp--large){
            width: 550px;
        }
    }

    h1{
        margin: 0.3em 0;
    }
    h4{
        @include maxWidth(30ch);
        @include breakpoint($bp--tablet-portrait){
            max-width: none;
        }
        span{
            font-weight: 300; letter-spacing: -0.1em; display: inline-block; margin: 0 0.3em 0 0.15em;
        }
    }

}
