$margin-form-item: 1.5em;
$form-field-height: 50px;
$checkbox-height: 22px;

@mixin label() {
    display: block; margin-bottom: 0.5em;
}

@mixin field() {
    @include fontsize();
    background: $color--background-light; width:100%; padding:0 0.5em; line-height:$form-field-height; height:$form-field-height; color: $color--text; border: none; outline-color: $color--text; outline-offset: $outline-offset;
}

@mixin required() {
    &:after {
        content: " *";
        color: #ff0000;
    }
}

form {
    @include breakpoint($bp--phone){
        display: block !important;
    }
    @include breakpoint($bp--large){
        margin: 0 -#{$column-gap*0.5}; flex-wrap: nowrap !important;
    }

    .form-item {
        margin: $margin-form-item 0;
        @include marginResets();
        @include breakpoint($bp--tablet-portrait){
            margin: 0; align-self: flex-end; flex-basis: calc(50% - #{$column-gap*0.5});
            &:nth-child(3),
            &:nth-child(4){
                margin-top: $margin-form-item;
            }
            &.type-email{
                flex-basis: auto; padding-right: $column-gap; flex-grow: 2;
            }
            &.form-actions{
                flex-basis: auto; flex-grow: 0;
            }
        }
        @include breakpoint($bp--large){
            flex-basis: auto; padding: 0 $column-gap*0.5 !important; margin: 0 !important; flex-grow: 1;
        }
    }

    input, button{
        -webkit-appearance:none !important; -webkit-border-radius:0 !important;
    }

    input[type="text"], input[type="email"]{
        @include field();
    }

    label{
        @include label();
        &.required{
            @include required();
        }
    }

    button[type="submit"], input[type="submit"] {
        @include button();
        @include padding(0, top);
        outline-offset:$outline-offset; height: $form-field-height; line-height: $form-field-height;
        &:focus{
            outline:#{$outline} $color--primary;
        }
    }

}

