$margin-form-item: $base-typography-spacing*2.5;
$form-field-height: 3em;
$checkbox-height: 22px;

@mixin label() {
    display: block; margin-bottom: 0.5em;
}

@mixin field() {
    @include fontsize();
    background: $color--background; width:100%; padding:0 1em; line-height:$form-field-height; height:$form-field-height; color: $color--text; border: none; outline-color: #fff; outline-offset: $outline-offset;
}

@mixin required() {
    &:after {
        content: " *";
        color: $color--primary;
    }
}

form {

    .form-item {
        @include clearfix();
        margin: $margin-form-item 0; position:relative;
        @include marginResets();
    }

    input, button{
        -webkit-appearance:none !important; -webkit-border-radius:0 !important;
    }

    input[type="text"], input[type="email"]{
        @include field();
        @include maxWidth(440px);
    }

    label{
        @include label();
    }

    button[type="submit"], input[type="submit"] {
        margin-top: 2em; outline-offset:$outline-offset;
        &:focus{
            outline:#{$outline} $color--primary;
        }
    }

}


button[type="submit"], input[type="submit"]{
    @include button();
    -webkit-appearance:none !important; -webkit-border-radius:2px !important;

    &:focus{
        outline:2px dotted $color--primary;
    }

}

