
$base-image-padding: 56.25%;
$portrait-image-padding: 125%;

@mixin object-fit($fit: cover, $position: 50% 50%) {
    -o-object-fit: $fit;
    object-fit: $fit;
    @if $position {
        -o-object-position: $position;
        object-position: $position;
        font-family: "object-fit: #{$fit}; object-position: #{$position}";
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}

@mixin object-position($position: 50% 50%) {
    -o-object-position: $position !important;
    object-position: $position !important;
    font-family: "object-position: #{$position}" !important;
}

@mixin objectFitImage($padding:$base-image-padding) {
    position: relative;
    padding-bottom:$padding;
    img:not(.lazyautosizes),
    img.lazyautosizes.lazyloaded {
        @include cover();
    }
    .lazysizes-display-clone{
        height:100% !important;
    }
}

@mixin objectFitReset(){
    padding-bottom:0 !important;
    img{
        position:static !important; object-fit:unset !important; object-position:initial !important; font-family:'Arial', sans-serif !important;
        &[style*="hidden"]{
            position:absolute !important;
        }
    }
}

@mixin pattern($direction){
    $size-small: 30px;
    $size-medium: 54px;
    $size-large: 72px;
    &:before{
        z-index: 50;
        @if $direction == horizontal{
            height: $size-small; width: 40%; background-image: url('../images/pattern-horizontal.svg');
            @include breakpoint($bp--tablet-portrait){
                height: $size-medium;
            }
            @include breakpoint($bp--large){
                height: $size-large;
            }
        }
        @if $direction == vertical{
            width: $size-small; background-image: url('../images/pattern-vertical.svg');
            @include breakpoint($bp--tablet-portrait){
                width: $size-medium;
            }
            @include breakpoint($bp--large){
                width: $size-large;
            }
        }
    }
}

.media{
    @include objectFitImage();

    img{
        @include transitionPageElement();
        position:absolute;
        &.lazyload{
            opacity: 0;
        }
        &.lazyloaded{
            opacity: 1;
        }
        &:not(.lazyautosizes),
        &.lazyautosizes.lazyloaded {
            @include object-fit(cover, 50% 50%);
        }

    }

    &.cover{
        padding: 0;
    }
    &.portrait{
        padding-bottom: $portrait-image-padding;
    }

}
