
// Display
// -----------------------------------
.visually-hidden{
    @include visuallyHidden();
}
.cover{
    @include cover();
}
.reset{
    @include reset();
}
.d{
    &-block{
        display: block;
    }
    &-flex{
        display: flex;
    }
}
.pos{
    &-relative{
        position: relative;
    }
    &-absolute{
        position: absolute; width: 100%;
    }
}
.z-index{
    &-10{
        z-index: 10;
    }
    &-20{
        z-index: 20;
    }
}
.overflow{
    &-hidden{
        overflow: hidden;
    }
}


// Flex / Grid
// -----------------------------------
.jc{
    &-center{
        justify-content: center;
    }
}
.ai{
    &-center{
        align-items: center;
    }
}
.direction{
    &-column{
        flex-direction: column;
    }
}


// Fonts/Text
// -----------------------------------
.t{
    &-align{
        &-center{
            text-align: center;
        }
    }
    &-c{
        &-white{
            color: $color--white;
        }
    }
    &-large{
        @include large-text();
    }
}

// Margins / Padding
// -----------------------------------
.p{
    &-t{
        &-2{
            padding-top: 2em;
        }
    }
    &-b{
        &-3{
            padding-bottom: 3em;
        }
    }
}

.m{
    &-t{
        &-1{
            margin-top: 1em;
        }
        &-2{
            margin-top: 2em;
        }
    }
    &-b{
        &-05{
            margin-bottom: 0.5em;
        }
    }
}


// Backgrounds
// -----------------------------------
.bg{
    &-grey{
        background: $color--background;
    }
    &-primary{
        background: $color--primary;
    }
}

// Border
// -----------------------------------
.border{
    &-top{
        &-white{
            border-top: 1px solid $color--white;
        }
    }
}
