
// Display
// -----------------------------------
.visually-hidden{
    @include visuallyHidden();
}
.reset{
    @include reset();
}
.cover{
    @include cover();
}
.d{
    &-block{
        display: block;
    }
    &-flex{
        display: flex;
    }
}
.pos{
    &-relative{
        position: relative;
    }
    &-absolute{
        position: absolute; width: 100%;
    }
}
.z-index{
    &-10{
        z-index: 10;
    }
    &-20{
        z-index: 20;
    }
}
.overflow{
    &-hidden{
        overflow: hidden;
    }
}
.pseudo{
    &-before{
        position: relative;
        &:before{
            @include pseudo();
            @include transitions();
        }
    }
}
.hide{
    &-phone{
        @include breakpoint($bp--phone){
            display: none !important;
        }
    }
}


// Flex / Grid
// -----------------------------------
.jc{
    &-flex-start{
        justify-content: flex-start;
    }
    &-space-between{
        justify-content: space-between;
    }
}
.ai{
    &-center{
        align-items: center;
    }
}
.direction{
    &-column{
        flex-direction: column;
    }
}
.flex-wrap{
    flex-wrap: wrap;
}


// Fonts/Text
// -----------------------------------
.t{
    &-shadow{
        @include text-shadow();
    }
    &-align{
        &-center{
            text-align: center;
        }
    }
    &-c{
        &-white{
            color: $color--white;
        }
        &-primary{
            color: $color--primary;
        }
    }
    &-large{
        @include large-text();
    }
    &-larger{
        @include larger-text();
    }
    &-largest{
        @include largest-text();
    }
}

// Margins / Padding
// -----------------------------------
.p{
    &-b{
        &-2{
            padding-bottom: 2em;
        }
    }
    &-v{
        &-2{
            @include padding(2em, top);
        }
    }
}

.m{
    &-t{
        &-base{
            margin-top: $base-typography-spacing;
        }
        &-1{
            margin-top: 1em;
        }
    }
    &-b{
        &-base{
            margin-bottom: $base-typography-spacing;
        }
    }
}


// Backgrounds
// -----------------------------------
.bg{
    &-grey{
        background: $color--background;
    }
    &-grey-dark{
        background: $color--text;
    }
    &-primary{
        background: $color--primary;
    }
}
.pattern{
    &-vertical{
        @include pattern(vertical);
        &.align--right:before{
            left: auto; right: 0;
        }
        &.top:before{
            top: -$row-margin-small*0.5; height: calc(100% + #{$row-margin-small});
            @include breakpoint($bp--tablet-portrait){
                top: -$row-margin-medium*0.5; height: calc(100% + #{$row-margin-medium});
            }
            @include breakpoint($bp--large){
                top: -$row-margin*0.5; height: calc(100% + #{$row-margin});
            }
        }
        &.bottom:before{
            top: auto; bottom: -$row-margin-small*0.5;
            @include breakpoint($bp--tablet-portrait){
                bottom: -$row-margin-medium*0.5;
            }
            @include breakpoint($bp--large){
                bottom: -$row-margin*0.5;
            }
        }
        &.extend:before{
            height: 1000vh;
        }
    }
    &-horizontal{
        @include pattern(horizontal);
        &.right:before{
            left: auto; right: 0;
        }
        &.top:before{
            transform: translateY(-50%);
        }
        &.bottom:before{
            top: auto; bottom: 0; transform: translateY(50%);
        }
    }
}

// Border
// -----------------------------------
.border{
    &-bottom{
        border-bottom: $border;
    }
}
