
.social{

    li{
        &:not(:last-child){
            margin-right: 1em;
        }
    }

    $size: 35px;

    a{
        @include fonticon('', $size, #fff, 50%, 50%, auto, auto, true, true);
        width: $size; height: $size; display: block; outline-offset: $outline-offset; color: #fff;

        &[href*="instagram"]:before{
            content: $icon-instagram;
        }
        &[href*="facebook"]:before{
            content: $icon-facebook;
        }
        &[href*="mailto:"]:before{
            content: $icon-email;
        }

    }

}
